appdirs==1.4.3
asgiref==3.2.7
attrs==19.3.0
black==19.10b0
click==7.1.2
coverage==5.1
django==3.0.5
gitdb==4.0.4
gitpython==3.1.1
pathspec==0.8.0
pytz==2020.1
regex==2020.4.4
smmap==3.0.2
sqlparse==0.3.1
toml==0.10.0
typed-ast==1.4.1
