name: code
on: [push]
jobs:
  django-tests:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 4
      matrix:
        os: ["ubuntu-latest", "windows-latest", "macos-latest"]
        python-version: [3.6, 3.7, 3.8]
    steps:
      - uses: actions/checkout@v2
      # We must fetch all history in order to be able to run Git related tests
      - run: |
          git fetch --prune --unshallow
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - uses: actions/cache@v1
        with:
          path: ~/.cache/pypoetry
          key: ${{ runner.os }}-py${{ matrix.python-version }}-poetry-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}-py-poetry-
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install poetry
          python -m poetry install
      - name: Run Tests
        run: |
          python -m poetry run coverage run dunm_sandbox/manage.py test tests
      - name: Upload coverage to Coveralls
        if: matrix.python-version == '3.6' && matrix.os == 'ubuntu-latest'
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_TOKEN }}
        run: |
          python -m pip install coverage[toml] coveralls
          python -m coveralls
